@import './vendor/tachyons@4.7.4.css';

.speakers-slides {
    font-family: Miriam Libre, sans-serif;
    text-decoration: none;
    color: inherit;
}

.bg-cyan {
    background-color: #51ffe1;
}

.b--cyan {
    border-color: #51ffe1;
}

body {
    overflow-x: hidden;
}

.containerTab {
    animation: fadeIn 0.5s;
    margin-top: -1px;
}

.diagonal {
    background: #f4f4f4;
    position: relative;
}

.diagonal::before,
.diagonal::after,
.diagonal-sponsor::before {
    display: block;
    height: 100px;
}

.diagonal::after {
    background: linear-gradient(to right bottom, #f4f4f4 50%, #fff 50%);
    content: '';
}

.diagonal::before {
    background: linear-gradient(to right bottom, #fff 50%, #f4f4f4 50%);
    content: '';
}

.diagonal-sponsor {
    background: #6639e2;
    position: relative;
}

.diagonal-sponsor::before {
    background: linear-gradient(to left bottom, #fff 50%, #6639e2 50%);
    content: '';
}

.fade-in-down>* {
    animation-duration: 1s;
    animation-fill-mode: forwards;
    opacity: 0;
}

.fade-in-down>*:nth-child(2) {
    animation-delay: 0.2s;
}

.fade-in-down>*:nth-child(3),
.fade-in-down>*:nth-child(4) {
    animation-delay: 0.4s;
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translate3d(0, -50px, 0);
    }

    to {
        opacity: 1;
        transform: none;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.hover-violet:hover,
.violet {
    color: #6639e2;
}

/* uncss:ignore */
.js-fade-in-down-trigger>* {
    animation-name: fadeInDown;
}

.logo {
    width: 500px;
}

.miriam-libre,
.tablinks {
    font-family: 'Miriam Libre', sans-serif;
}

.sponsors .platinos li {
    height: 136px;
    max-width: 360px;
}

.sponsors .golds li {
    height: 117px;
    max-width: 310px;
}

.sponsors .silvers li {
    height: 98px;
    max-width: 260px;
}

.sponsors .startup li {
    height: 79px;
    max-width: 210px;
}

.slider {
    overflow: hidden;
}

.slides {
    animation: slidy 30s infinite alternate;
    left: 0;
    position: relative;
    width: 400%;
}

.slides>img {
    float: left;
    vertical-align: bottom;
    width: 25%;
}

@keyframes slidy {
    0% {
        left: 0%;
    }

    15% {
        left: 0%;
    }

    30% {
        left: -100%;
    }

    45% {
        left: -100%;
    }

    60% {
        left: -200%;
    }

    75% {
        left: -200%;
    }

    90% {
        left: -300%;
    }

    100% {
        left: -300%;
    }
}

.tablinks {
    background: transparent;
    border-color: #242352;
    border-style: solid;
    border-width: 2px;
    box-shadow: inset 0 0 0 #fff, 0 0 0 #51ffe1;
    padding: 10px 30px;
    text-decoration: none;
    transition: all 0.25s ease-out;
}

.tablinks.active,
.tablinks:hover {
    background-color: #51ffe1;
    box-shadow: inset -7px 5px 0 #fff, -9px 7px 0 #51ffe1;
    color: #242352;
}

.tabcontent {
    animation: fadeIn 1s;
    display: none;
}

table {
    border-collapse: collapse;
}

table h4 {
    color: #6639e2;
}

td {
    padding-left: 1rem;
}

thead {
    background-color: #f1f1f1;
}

@media screen and (max-width: 30em) {

    table,
    thead,
    tbody,
    th,
    td,
    tr {
        display: block;
    }

    thead {
        background-color: transparent;
    }

    thead tr {
        left: -9999px;
        position: absolute;
        top: -9999px;
    }

    td {
        padding-left: 30%;
        position: relative;
    }

    td:first-child {
        background-color: #f1f1f1;
    }

    td::before {
        content: attr(data-column);
        left: 0.5rem;
        position: absolute;
        top: 1rem;
        white-space: nowrap;
        width: 30%;
    }
}

@media screen and (max-width: 320px) {
    td::before {
        font-size: 13px;
    }
}

[data-aload] {
    background-image: none !important;
}