@import './vendor/tachyons@4.7.4.css';

.fade-in-down > * {
    animation-duration: 1s;
    animation-fill-mode: forwards;
    opacity: 0;
}

.fade-in-down > *:nth-child(2) {
    animation-delay: 0.2s;
}

.fade-in-down > *:nth-child(3),
.fade-in-down > *:nth-child(4) {
    animation-delay: 0.4s;
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translate3d(0, -50px, 0);
    }

    to {
        opacity: 1;
        transform: none;
    }
}

/* uncss:ignore */
.js-fade-in-down-trigger > * {
    animation-name: fadeInDown;
}

.logo {
    width: 440px;
}

.miriam-libre {
    font-family: 'Miriam Libre', sans-serif;
}

.mw-200 {
    max-width: 200px;
}

.profile-toggle-children > span:last-child,
.profile-toggle-children > span:last-child,
.profile-toggle-children > span:last-child {
    height: 0;
    margin-left: -50px;
    opacity: 0;
    overflow: hidden;
    transition: all 0.25s ease-out;
}

.profile:active .profile-toggle-children > span:first-child,
.profile:focus .profile-toggle-children > span:first-child,
.profile:hover .profile-toggle-children > span:first-child {
    display: none;
}

.profile:active .profile-toggle-children > span:last-child,
.profile:focus .profile-toggle-children > span:last-child,
.profile:hover .profile-toggle-children > span:last-child {
    height: auto;
    margin-left: 0;
    opacity: 1;
}

@keyframes rotate {
    from {
        transform: rotate(0);
    }

    20% {
        transform: rotate(0);
    }

    25% {
        transform: rotate(90deg);
    }

    45% {
        transform: rotate(90deg);
    }

    50% {
        transform: rotate(180deg);
    }

    70% {
        transform: rotate(180deg);
    }

    75% {
        transform: rotate(270deg);
    }

    95% {
        transform: rotate(270deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.square {
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-name: rotate;
    animation-timing-function: ease-in-out;
    bottom: -125px;
    height: 250px;
    left: -125px;
    position: absolute;
    width: 250px;
    z-index: -1;
}

.slider {
    overflow: hidden;
}

.slides {
    animation: slidy 30s infinite alternate;
    left: 0;
    position: relative;
    width: 500%;
}

.slides > img {
    float: left;
    vertical-align: bottom;
    width: 20%;
}

@keyframes slidy {
    0% {
        left: 0%;
    }

    18% {
        left: 0%;
    }

    22% {
        left: -100%;
    }

    40% {
        left: -100%;
    }

    44% {
        left: -200%;
    }

    62% {
        left: -200%;
    }

    66% {
        left: -300%;
    }

    84% {
        left: -300%;
    }

    88% {
        left: -400%;
    }

    100% {
        left: -400%;
    }
}

[data-aload] {
    background-image: none !important;
}

@media screen and (min-width: 60em) {
    .diamond-l {
        bottom: -125px;
        height: 525px;
        position: absolute;
        right: -200px;
        width: 650px;
        z-index: -1;
    }
}

@media screen and (min-width: 70em) {
    .flex-no-wrap-xl {
        flex-wrap: nowrap;
    }

    .nl2-xl {
        margin-left: -0.5rem;
    }

    .nr2-xl {
        margin-right: -0.5rem;
    }
}
